{% extends "blog/base_home.html" %}
{% if user.is_authenticated %}

{% block title %} {{ user.get_full_name }} : Dashboard {% endblock %}

{% block content %}
{% if request.user == user %}

<main class="container">

  <br>
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">{{ user.first_name }} {{ user.last_name }}</h1>
      <p class="lead my-3">@{{ user }}</p>
      <p class="lead mb-0"><a href="{% url 'edit_user' user %}" class="text-white fw-bold">Edit Profile</a></p>
    </div>
  </div>


  <div class="row ">
    <div class="col-md-7 me-lg-3">
      <br>
      <h3 class="pb-4 fst-italic">
        Latest posts
      </h3>
      <hr>
      <div class="list-group">
        {% for post in post_list %}

        <div class="card">
          <div class="card-header">
            <p class="blog-post-meta mb-0">
              Created on: {{ post.created_on }}
              {% if post.updated_on != post.created_on %}
              <span> | Updated on: {{ post.updated_on }}</span>
              {% endif %}
            </p>
          </div>
          <a href="{% url 'post_detail' post.author post.slug %}">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
            </div>
          </a>
          <div class="card-footer ">
            <div class="container p-0 d-flex justify-content-around">
              <div class="ps-2 pe-2 bd-highlight">
                <ul class="list-group list-group-horizontal">
                  <li class="list-item"><a href="{% url 'tag_detail' post.tags.first %}"><span
                    class="badge bg-light text-dark">{{ post.tags.first }}</span></a></li>
                </ul>
              </div>
              

          
              <div class="ps-2 pe-2 bd-highlight">
                {% if user.id == post.author.id %}
                <ul class="list-group list-group-horizontal">
                  <li class="list-item "><a href="{% url 'edit_post' post.author post.slug %}"><i class="far fa-edit text-success"></i> Edit</a></i></li>
                  <li class="list-item "><a href="{% url 'delete_post' user post.slug %}"><i class="far fa-trash-alt text-danger"></i> Delete</a></li>
                </ul>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <br>
        {% endfor %}
      </div>

    </div>

    {% block sidebar %}

    <div class="col-md-4">
      <br>
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">{{ user.first_name }} {{ user.last_name }}</h4>
          <p class="mb-0">Welcome to our blog!
            Here on One for all you can create and share you articles based on any topic. Why wait then sign up and
            start sharing your interisting articles now.
          </p>
        </div>

      </div>
    </div>
    {% endblock sidebar %}
  </div>
</main>

{% else %}
<div class="alert alert-danger text-center" role="alert">
  You are not allowed here. And you know that.
</div>
{% include 'registration/access_denied.html' %}

{% endif %}

{% endblock %}
{% else %}
{% include 'registration/access_denied.html' %}
<div class="alert alert-danger text-center" role="alert">
  Login required to view this page.
</div>
{% endif %}