{% extends "blog/base_home.html" %}
{% block title %} {{ user.get_full_name }} : Edit Profile{% endblock %}
{% block content %}
{% if user.is_authenticated %}
{% if request.user == user %}
<br>

<h3 class="pb-4 fst text-center">
    Edit Profile
</h3>
<hr>
<div class="position-relative border border-1 m-5 p-3 rounded">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Update profile</button>
    </form>
</div>
{% else %}

<div class="alert alert-danger text-center" role="alert">
    You are not allowed here. And you know that.
</div>
{% include 'registration/access_denied.html' %}
{% endif %}

{% else %}
{% include 'registration/access_denied.html' %}
<div class="alert alert-danger text-center" role="alert">
  Login required to view this page.
</div>
{% endif %}
{% endblock %}