{% extends 'blog/base_home.html' %}
{% block title %} One for all Blog : Login {% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% include 'registration/access_denied.html' %}
<div class="alert alert-danger text-center" role="alert">
    You are already Logged in.
</div>
{% else %}

<div class="container-login text-center">
    <main class="form-signin">
        {% if form.non_field_errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <small>Ughhhh! {{ form.non_field_errors }}</small>

            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ form.username.errors }}
            <img class="mb-4"
                src="https://res.cloudinary.com/magbanum/image/upload/v1628706668/One-for-all-blog/Oneforall-logo_zplltk.svg"
                alt="" width="100" height="100">
            <h1 class="h3 mb-3 fw-normal">Login here.</h1>

            <div class="form-floating">
                {{ form.username }}
                <label for="{{ form.username.id_for_label }}">Username</label>
            </div>
            <div class="form-floating">
                {{ form.password }}
                <label for="{{ form.password.id_for_label }}">Password</label>
            </div>
            <div class=" mb-3">
                <a class="text-secondary" href="{% url 'reset_password' %}">Reset Password</a>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
            <p class="mt-5 mb-3 text-muted">Don't have an account? <a href="{% url 'register' %}">Register now</a>.
            </p>
        </form>
    </main>
</div>

{% endif %}

{% endblock %}