{% extends 'blog/base.html' %}{% block title %} Login {% endblock %} {% block content %}


<br><br><br>
<center>
    <div class="card" style="width: fit-content; text-align: left;padding: 10px;">
        <h5 class="card-header">Login</h5>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button class="btn btn-secondary">Login</button>
            </form>
            <br>
            <a href="{% url 'reset_password' %}">Reset Password</a>
        </div>
        <p class="text-center">Don't have an account? <a href="{% url 'register' %}">Create an account</a>.</p>

    </div>
</center>


{% endblock %}