{% extends "blog/base_home.html" %}
{% block title %} Password Reset Mail Sent {% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% include 'registration/access_denied.html' %}
<div class="alert alert-danger text-center" role="alert">
    You are not allowed here. And you know that.
</div>
{% else %}
<br>
<h3 class="pb-4 fst text-center">
    Password Reset Mail Sent
</h3>
<hr>
<div class="ms-4 me-4 text-center" >
<small>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</small><br>
<small>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
</small> 
</div>
{% endif %}
{% endblock %}