{% extends "blog/base_home.html" %}
{% block title %} Enter New Password {% endblock %}
{% block content %}
{% if user.is_authenticated %}
<br>
<h3 class="pb-4 fst text-center">
    Enter New Password
</h3>
<p class="text-center">Please enter your new password twice so we can verify you typed it in correctly.</p>

<hr>
<div class="ms-4 me-4">
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-outline-dark me-2">Change my password</button>
</form>
</div>
{% else %}
<strong class="text-center">Login to Change the password.</strong>
{% endif %}
{% endblock %}