{% extends "blog/base_home.html" %}
{% block title %} Reset Password {% endblock %}

{% block content %}
{% if user.is_authenticated %}
<strong class="text-center">You are already logged in. Log out to Create new account.</strong>
{% else %}
<br>
<h3 class="pb-4 fst text-center">
    Reset Password
</h3>
<p class="text-center">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
<hr>
<div class="ms-4 me-4">
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-outline-dark me-2">Submit</button>
</form>
</div>
{% endif %}
{% endblock %}