{% extends "blog/base_home.html" %}
{% block title %} One for all Blog : Register {% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% include 'registration/access_denied.html' %}
<div class="alert alert-danger text-center" role="alert">
    You are not allowed here. And you know that.
</div>
{% else %}
<br>
<h3 class=" p-2 fst text-center">
    Register
</h3>
<hr>
<div class="container-login ">
    <form class="border border-1 m-1 p-3 rounded" action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Register</button>
    </form>
</div>
<p class="text-center">Already have an account? <a href="{% url 'login' %}">Login here</a>.</p>
{% endif %}

{% endblock %}