{% extends 'blog/base.html' %} {% block title %} {{ post.title }} {% endblock %} {% block content %}


<div>
    <h1>{{ post.title }}</h1>
    <small>By {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.post_date }} 
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}


<a href="{% url 'edit_post' post.pk %}">Edit</a>/<a href="{% url 'delete_post' post.pk %}">Delete</a>
    {% endif %} 
{% endif %} 

</small>
    <br><br>
    <p>{{ post.body|safe }}</p>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
</div>{% endblock %}