{% extends 'blog/base.html' %} {% block content %}
<br>
<h2 style="text-align: center;">Featured Hashnode articles</h2><br>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for post in page_obj %}
    <div class="col">
        <div class="card h-100">
            <a href="https://{{ post.author.username }}.hashnode.dev/{{ post.slug }}" class="list-group-item list-group-item-action" style="height: 100%; padding-bottom: 50px;">
                {% if post.coverImage %}
                <img src="{{ post.coverImage }}" class="card-img-top" style="margin-bottom: 10px;">
                {% else %}
                <img src="https://res.cloudinary.com/magbanum/image/upload/v1627411230/Blogs%20header%20images/hashnode_c1kgyb.png" class="card-img-top" style="margin-bottom: 10px;">
                {% endif %}
                <h5 class="mb-1">{{ post.title }}</h5>
                
                <div class="d-flex w-100 justify-content-between" style=" position:absolute; bottom: 0px; left: 0px; padding: 0px 10px 0px 10px; margin: 30px 0px 10px 0px;">
                    <small class="text-muted">{{ post.author.name }}</small>
                    <small class="text-muted">{{ post.dateAdded | slice:10}}</small>
                </div>

            </a>
        </div>
    </div>{% endfor %}
    <br>
</div><br>
<br>

<!-- For page navigation links -->
<center>
    <div class="pagination" style="width: fit-content;">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="page-link" style="display: inline;">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link" style="display: inline;">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="page-link" style="display: inline;">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link" style="display: inline;">last &raquo;</a>
        {% endif %}
        </span>
    </div>
</center>
<br><br> {% endblock %}