@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono|Montserrat:700");

:root {
    --light-font: #121212;
    --white: #ffffff;
  }

body {
    height: 100vh;
}
.alert {
    font-family: Montserrat;
    margin: 20px;
}

/* Article list style start */

.list-group .card a{
    text-decoration: none;
    color: var(--light-font);
}

.list-item {
    list-style: none;
    margin-inline-end: 1em;
    text-align: right;
}
.card-footer{
    background-color: var(--white);
}

/* Article list style end */

.planePath {
    stroke: #D9DADA;
    stroke-width: .1%;
    stroke-width: .5%;
    stroke-dasharray: 1% 2%;
    stroke-linecap: round;
    fill: none;
}

.fil1 {
    fill: #D9DADA;
}

.fil2 {
    fill: #C5C6C6;
}

.fil4 {
    fill: #9D9E9E;
}

.fil3 {
    fill: #AEAFB0;
}


/* For login page */
